{% extends 'base.html.twig' %}

{% block title %}contact{% endblock %}

{% block body %}

    <div class="container">
        <div class="row my-5">
            <div class="col-12">
                <h1 class="text-center">Contact</h1>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-12">
                <h2>Coordonnées</h2>
                <div class="text-center">
                    <p>{{ contact_name }}</p>
                    <p>{{ contact_address }}</p>
                    <p>{{ contact_zip ~ ' ' ~ contact_city }}</p>
                    <p>{{ contact_phone }}</p>
                    <p>{{ contact_email }}</p>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-12">
                <h2>Formulaire de contact</h2>
                    {{ form_start(contactForm, {
                        'attr': {
                            'id': 'contactForm'
                        }
                    }) }}
                        <div class="row">
                            <div class="col-4 offset-2">
                                {{ form_row(contactForm.firstName, {
                                    'label': 'Prénom'
                                })}}
                            </div>
                            <div class="col-4">
                                {{ form_row(contactForm.lastName, {
                                    'label': 'Nom'
                                })}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 offset-2">
                                {{ form_row(contactForm.email, {
                                    'label': 'Email'
                                })}}
                            </div>
                            <div class="col-4">
                                {{ form_row(contactForm.subject, {
                                    'label': 'Objet'
                                })}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 offset-2">
                                {{ form_row(contactForm.message, {
                                    'label': 'Votre message'
                                })}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 offset-2">
                                {{ form_row(contactForm.attachment, {
                                    'label': 'Pièce-jointe'
                                })}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 offset-2 text-end">
                                <input type="submit" value="Envoyer" class="btn btn-success">
                            </div>
                        </div>
                    {{ form_end(contactForm) }}
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-12">
                <h2>Réseaux sociaux</h2>
                <div class="text-center">
                    <a href="https://www.linkedin.com/in/david-hurtrel">Linkedin</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
